*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}
/* navbar styling */
#navbar{
  width:100vw;
  height:10vh;
  border-style: ridge;
  border-width: 2px;
  border-color: black;
  background-color: deepskyblue;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav-title{
  margin:0;
}

.nav-links{
  display:flex;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: space-between;
}

.content{
  width: 100vw;
}

/* about-me styling */
#about-me{
  height: 90vh;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  background-color: chocolate;
}
.flippy-front, .flippy-back {
  height: 80vh;
  cursor: pointer;
}
.about-body{
  display: flex;
}

.about-img{
  width: 300px;
  height: 300px;
  border: 1px black solid;
}

.about-info{
  border: 1px black solid;
  flex-direction: column;
  margin-left: 30px;
}

.experience{
  height:50vh;
  overflow-y: scroll;
  border: 1px solid grey;
}
.company{
  font-weight: bold;
  margin: 0 0 0 0;
}

.position{
  font-style:italic;
  margin: 0;
  margin-left: 5px;
}

.duties{
  margin-left: 30px;
}

.experience::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.experience::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* portfolio styling */
#portfolio{
  height:90vh;
  border-style: solid;
  border-width: 1px;
  border-color: darkgreen;
  background-color: deeppink;
}

.carousel{
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.left-arrow, .right-arrow{
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px orange solid;
  size: fill;
  cursor: pointer;
}

.projects {
  display:flex;
  flex-direction: column;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-color: green;
}

.active-project{
  height:85%;
  display:flex;
  flex-direction: column;
  border: 1px solid tomato;
}

.active-project>*{
  margin: auto;
}

.inactive-projects{
  display: none;
}

.project-details{
  /* margin-left: 15px; */
  font-size: 12px;
  list-style-type: none;
}

.project-screenshot{
  width: 75%;
  padding-left: 50px;
}


.project-buttons{
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}

.select-button{
  border-radius: 15px;
  border-style: solid;
  padding:auto;
  background-color: white;
  padding: 0px 15px;
}

/* blogs styling */
#tech-writing{
  height:90vh;
  border-style: solid;
  border-width: 1px;
  border-color: navy;
  background-color: darkkhaki;
}

/* twitter feed styling */
#twitter{
  height:90vh;
  border-style: solid;
  border-width: 1px;
  border-color: darkslategrey;
  background-color: darkorange;
}

/* web links styling */
#contact{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: lightslategray;
}

.weblinks{
  /* margin-top: 50px; */
  border-width: 1px;
  border-color: black;
  border-style: solid;
  height: auto;
}

.link{
  padding-left: 15px;
  font-size: 40px;
  color: black
}