*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

/* navbar styling */
#navbar{
  width:100vw;
  height:10vh;
  border-style: ridge;
  border-width: 2px;
  border-color: black;
  background-color: deepskyblue;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.content{
  width: 100vw;
}

/* about-me styling */
#about-me{
  height: 90vh;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  background-color: chocolate;
}
.flippy-front, .flippy-back {
  height: 80vh;
}
.about-body{
  display: flex;
}

.about-img{
  width: 300px;
  height: 300px;
  border: 1px black solid;
}

.about-info{
  border: 1px black solid;
  flex-direction: column;
  margin-left: 30px;
}

.experience{
  height:50vh;
  overflow-y: scroll;
}
.company{
  font-weight: bold;
  margin: 0 0 0 0;
}

.position{
  font-style:italic;
  margin: 0;
  margin-left: 5px;
}

.duties{
  margin-left: 30px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* portfolio styling */
#portfolio{
  height:90vh;
  border-style: solid;
  border-width: 1px;
  border-color: darkgreen;
  background-color: deeppink;
}

/* blogs styling */
#tech-writing{
  height:90vh;
  border-style: solid;
  border-width: 1px;
  border-color: navy;
  background-color: darkkhaki;
}

/* twitter feed styling */
#twitter{
  height:90vh;
  border-style: solid;
  border-width: 1px;
  border-color: darkslategrey;
  background-color: darkorange;
}

/* web links styling */
#contact{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: lightslategray;
}

.weblinks{
  /* margin-top: 50px; */
  border-width: 1px;
  border-color: black;
  border-style: solid;
  height: auto;
}

.link{
  padding-left: 15px;
  font-size: 40px;
  color: black
}